@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 187 108% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 187 108% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 187 108% 6%;

    --primary: 11 101% 69%;
    --primary-foreground: 187 108% 6%;

    --secondary: 68 90% 87%;
    --secondary-foreground: 187 108% 6%;

    --tertiary: 241 100% 80%;
    --tertiary-foreground: 187 108% 6%;

    --muted: 187 108% 40%;
    --muted-foreground: 0 0% 100%;

    --accent: 210 50% 60%;
    --accent-foreground: 187 108% 6%;

    --accentSecondary: 110 14% 40%;
    --accentSecondary-foreground: 187 108% 6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
