@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(187 108% 6%);
    --foreground: hsl(0 0% 100%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(187 108% 6%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(187 108% 6%);

    --primary: hsl(11 101% 69%);
    --primary-foreground: hsl(187 108% 6%);

    --secondary: hsl(68 90% 87%);
    --secondary-foreground: hsl(187 108% 6%);

    --tertiary: hsl(241 100% 80%);
    --tertiary-dark: hsl(241 100% 75%);
    --tertiary-foreground: hsl(187 108% 6%);

    --muted: hsl(187 108% 40%);
    --muted-foreground: hsl(0 0% 100%);

    --accent: hsl(210 50% 60%);
    --accent-foreground: hsl(187 108% 6%);

    --accentSecondary: hsl(110 14% 40%);
    --accentSecondary-foreground: hsl(187 108% 6%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotted-background {
  background-image: radial-gradient(
    circle,
    rgba(255, 126, 97, 0.3) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}
